@font-face {
  font-family: "Sansation";
  src: url(./fonts/Sansation_Bold.ttf) format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Sansation";
  src: url(./fonts/Sansation_Light.ttf) format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Sansation";
  src: url(./fonts/Sansation_Regular.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url(./fonts/Ubuntu-Bold.ttf) format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Sansation";
  src: url(./fonts/Ubuntu-Light.ttf) format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Sansation";
  src: url(./fonts/Ubuntu-Medium.ttf) format("ttf");
  font-weight: 400;
}
